<style>
          #cusdis_thread iframe {
            height: auto !important;
            min-height: 500px;
          }
</style>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="02674401-db4d-4ce2-a182-d45830ba9436"
  data-page-id="{{ page.url }}"
  data-page-url="{{ page.url | absolute_url }}"
  data-page-title="{{ page.title }}"
  data-theme="dark"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

<!-- <script>
    window.addEventListener("message", function (event) {
    if (event.origin !== "https://cusdis.com") return;
    if (event.data && event.data.type === "resize" && event.data.height) {
        const iframe = document.querySelector("iframe.cusdis-iframe");
        if (iframe) {
        iframe.style.height = event.data.height + "px";
        }
    }
    });
</script> -->
