---
layout: archive
---

{{ content }}

<h1 style="color:blue">Những căn nhà <a href=https://guru.batdongsan.com.vn/pa/doanvandang.682?productType=38&cateId=325&projectId=2207&cityCode=SG&districtId=76>Đoàn Văn Đang</a> giới thiệu</h1>

<!-- <h2>{{ site.data.ui-text[site.locale].recent_posts | default: "Những căn nhà Đang giới thiệu" }}</h2> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}